/* değişken tanımladık */
:root {
    --main-color: #673de6;
    --main-color-o70: #7e5ce4;
    --secondary-main-color: #f1f3fe;
}

/* varsayılan iç ve dış boşlukları kaldırdık */

* {
    margin:0;
    padding:0;
    outline:none;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

html,body {
    height:100%;
}
a{
    text-decoration: none;
    color: black;
}
.line li a:hover {
    color: var(--main-color)
}
body {
    background-color: var(--secondary-main-color);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding:20px;
    flex-direction: column;
}
.ahmetkaya {
    width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gradyan {
    /*background: rgb(103,61,230);
    background: linear-gradient(225deg, rgba(103,61,230,1) 0%, rgba(140,111,227,1) 50%, rgba(103,61,230,1) 82%);
   */
    background: rgb(233,182,155);
    background: linear-gradient(143deg, rgba(233,182,155,1) 4%, rgba(236,153,109,1) 40%, rgba(231,133,81,1) 82%);
    color: var(--secondary-main-color);
    width: 750px;
    border-radius: 5px;
    padding: 10px 50px;
}

  
.search-container{
    width: 500px;
    margin: 20px;
}
.search-container input{
    width: 100%;
    border: 1px solid #777;
    padding: 8px;
    border-radius:3px;
}
.search-container{
    display: flex;
    margin: 10px 0px;
}
.search-btn{
    border:none;
    background-color: var(--main-color-o70);
    color: #fff;
    cursor: pointer;
    border-radius:3px;
    padding:14px;
    margin-left: 10px;
}
.search-btn:hover {
    background-color: var(--main-color);
}
.navbar{
    width: 800px;
}
.icon{
   display:flex;
   flex-direction: column;
   justify-content: center;

   
}
.navbar .icon li{
    margin: 20px 0px;
    list-style:none;
    flex: 1;
}
.navbar .icon li:hover {

}
.navbar .icon li img{
    width: 80px;
    height: 80px;    
   
}
.line{
    display: flex;
    text-align: center;

    
}

.line li a h5{
    margin-top:8px
}
/*son elemanda boşluk var*/
.diziresimler{
    display: flex;
    justify-content: center;
}
.diziresimler img{
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-right: 10px;
}
.d-none {
    display: none;
}
.d-block {
    display: block;
}
/* question */
.question-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    padding: 20px;
    background-color:white;
    margin: 0 auto;

}
 #close_btn{
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: rgba(255,223,108,255);
}
/* .question-container input {
    visibility: 2hidden;
} */
.question-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question-container ul li {
    color: #fff;
    font-size: 1.5rem;
    border: 2px solid rgba(243,139,42,255);
    background-color: rgba(255,223,108,255);
    display: flex;
    margin-bottom: 10px;
    border-radius:15px;
    width: 70%;
}
.question-container ul li label {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius:15px;

   
}

.question-container ul li:hover {
    cursor: pointer;
    background-color:  rgba(243,139,42,255);
    transition: ease-out 300ms;
}
input:checked + label{
    background-color:  rgba(243,139,42,255);
    width: 100%;
    
}


.question {
    padding:5px 10px;
    color: rgba(243,139,42,255);
    font-size: 2rem;
    text-align: center;
    margin: 0px 0px 40px 0px;
    
    
    
}
.next-btn-container {
    margin-top: 10px;
    text-align: center;
    
}
#submit {
    font-size: 1.3rem;
    color: white;
    width: 10%;
    padding: 8px;
    cursor: pointer;
    border-radius:15px;
    position: absolute;
    right: 216px;
    border: 2px solid rgba(243,139,42,255);
    background-color: rgba(255,223,108,255);
    margin: 10px;
}
#submit:hover {
    color:#fff;
    background-color: rgba(243,139,42,255);
    
}
.answer{
    visibility: hidden;
    position: absolute;
}
