/* değişken tanımladık */
:root {
    --main-color: #673de6;
    --secondary-main-color: #f1f3fe;
}

/* varsayılan iç ve dış boşlukları kaldırdık */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body {
    height:100%;
}
a{
    text-decoration: none;
    color: black;
}
.line li a:hover {
    color: var(--main-color)
}
body {
    background-color: var(--secondary-main-color);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding:20px;
    flex-direction: column;
    border:1px solid red;
}
.ahmetkaya {
    border: 1px solid red;
    width: 500px;
}
.input-container{
    width: 350px;
    margin: 20px;
}
.search-container input{
    width: 100%;
}
.search-container{
    border:1px solid red;
    display: flex;
    margin: 10px 0px;
    
}
.search-btn{
    width: 40px;
    margin-left: 10px;
}
.navbar{
    width: 800px;
    border: 1px solid red;
   
   
    
}
.icon{
   display:flex;
   flex-direction: column;
   justify-content: center;

   
}
.navbar .icon li{
    margin: 20px 0px;
    list-style:none;
    flex: 2;
    
    
}
.navbar .icon li img{
    width: 80px;
    height: 80px;    
   
}
.line{
    display: flex;
    text-align: center;

    
}

.line li a h5{
    margin-top:8px
}

